<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>플라스크 프로젝트</title>
</head>
<body>
    <h1>welcome!</h1>
    <a href="/dinner">저녁메뉴추천!</a>
    <a href="/isitchristmas">크리스마스맞음?</a>
    <a href="/music">내가 제일 좋아하는 노래는?</a>
    <img src="https://i.uncyclopedia.kr/pedia/thumb/6/67/%EB%A7%88%EB%A6%AC%EC%98%A4.jpg/220px-%EB%A7%88%EB%A6%AC%EC%98%A4.jpg">
</body>
</html>